com.gregorbyte.xsp.extlib.updatesite/artifacts.jar
com.gregorbyte.xsp.extlib.updatesite/content.jar
com.gregorbyte.xsp.extlib.updatesite/
*.class
buildDirectory/
com.gregorbyte.xsp.updatesite/plugins/com.gregorbyte.xsp.controls_1.0.0.201510302249.jar
com.gregorbyte.xsp.updatesite/features/
com.gregorbyte.xsp.updatesite/
com.gregorbyte.xsp.controls/src/rebel.xml
com.gregorbyte.xsp.core/src/rebel.xml
com.gregorbyte.xsp/src/rebel.xml
com.gregorbyte.demo.nsf/AppProperties/xspdesign.properties
com.gregorbyte.demo.nsf/.settings/org.eclipse.wst.jsdt.ui.superType.container
com.gregorbyte.demo.nsf/.settings/org.eclipse.wst.jsdt.ui.superType.name
com.gregorbyte.demo.nsf/.settings/org.eclipse.core.resources.prefs
com.gregorbyte.demo.nsf/.settings/.jsdtscope
com.gregorbyte.demo.nsf/.classpath
com.gregorbyte.demo.nsf/AppProperties/database.properties
com.gregorbyte.demo.nsf/Resources/IconNote
rebel.xml
com.gregorbyte.xsp.bundleinspector.updatesite/
