com.gregorbyte.xsp.extlib.updatesite/artifacts.jar
com.gregorbyte.xsp.extlib.updatesite/content.jar
com.gregorbyte.xsp.extlib.updatesite/
*.class
buildDirectory/
com.gregorbyte.xsp.updatesite/plugins/com.gregorbyte.xsp.controls_1.0.0.201510302249.jar
com.gregorbyte.xsp.updatesite/features/
com.gregorbyte.xsp.updatesite/
